FRAUD_MODEL_NAME=lightgbm

FRAUD_LOG_LEVEL=INFO
FRAUD_ENVIRONMENT=development

FRAUD_TRITON_GRPC_URL=localhost:8101

FRAUD_TRAIN_DEVICE=cpu
FRAUD_RAW_DATA=data/raw/PS_20174392719_1491204439457_log.csv
FRAUD_PROCESSED_DIR=data/processed
FRAUD_ARTIFACT_DIR=artifacts/baseline

FRAUD_GRAFANA_ADMIN_USER=admin
FRAUD_GRAFANA_ADMIN_PASSWORD=admin
